.sound-btn {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24537;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #d02718;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:15px 40px;
	text-decoration:none;
    text-shadow:0px 1px 0px #810e05;
    float: left;
    margin: 1%; 
}

.sound-btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
	background-color:#c62d1f;
}

.sound-btn:active {
	position:relative;
	top:1px;
}

#soundboard-buttons-container {
	margin: 20px auto;
	padding-bottom: 10px;
	max-width: 1300px;
	overflow: auto; 
	display: flex;
	justify-content: center;
	flex-wrap: wrap; 
}

#info {
	text-align: center;
    margin: 20px auto;
	max-width: 1300px;
	font-size: .7rem;
	font-family: 'Fredoka One', cursive;
}

body {
    background: red;
}

#header {
    text-align: center;
}

html {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  }

#header #line1 {
    font-size: 2rem;
    font-family: 'Permanent Marker', cursive;
}

#header #line2 {
    font-size: 5rem;
    font-family: 'Staatliches', cursive;
}

#header #line3 {
    font-size: 3rem;
    font-family: 'Fascinate', cursive;
}

#header #line4 {
    font-size: .8rem;
	font-family: 'Fredoka One', cursive;
}

table {
    margin: 0 auto;
}

img {
	max-width: 100%;
   	max-height: 100%;  
	height: auto; 
}

.headimg {
	min-width: 80px;
}